@import './colors';

@mixin maxWidthMarginAuto {
  max-width: 1080px;
  margin: auto;
}

// Headings
@mixin headingBigText {
  font-size: 7rem;
  color: $orange;

  @media (max-width: 550px) {
    font-size: 5rem;
  }

  @media (max-width: 320px) {
    font-size: 3rem;
  }
}

@mixin headingSmallText {
  text-align: center;
  font-size: 6rem;
  color: $white;

  @media (max-width: 550px) {
    font-size: 4rem;
  }

  @media (max-width: 320px) {
    font-size: 2.2rem;
  }
}

// Buttons
@mixin originalButton {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.288);
  background-color: transparent;
  box-shadow: 1px 1px 1px rgba(255, 68, 0, 0.63);

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 1px 2px 1px rgba(226, 78, 24, 0.7);
  }
}
