.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
  video {
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-top: 3rem;
  }
  .youtubeLink {
    color: #deb3ff;

    &:hover {
      color: #bc64ff;
    }
  }
}
