* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLLBAR DESIGN! */
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: black;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid #deb3ff6e;
  border-radius: 99px;
}
